# New Webbox
snippet pdb
	import pdb
	pdb.set_trace()

snippet pprint
	import pprint
	pprint.pprint($1)

snippet bloc_action
	{ 'field': 'bloc_validation', 'title': '',
	'source': '-', 'decoration': 'x_base_block',
	'widget': 'BlockAction', 'fields': [
	     ${1}
	]}
